@using WebApplication5.Models;
@model ModelStuudent
<div class="container">
  <form method="post" asp-controller="Home" asp-action="Index">
      <input asp-for="Roll"/>
        <input asp-for="FirstName"/>
        <button type="submit" class="btn btn-primary" >Add </button>
  </form>
</div>

