

<div class="container">
  <form method="get" asp-controller="Home" asp-action="Add">
      <input type="text"  name="txtFirst" />
        <input type="text" name="txtSecond" />
        <button type="submit" class="btn btn-primary" >Add </button>
  </form>
</div>

